[submodule "GLCIC-PyTorch"]
	path = GLCIC-PyTorch
	url = https://github.com/yhu9/GLCIC-PyTorch.git
[submodule "Pluralistic-Inpainting"]
	path = Pluralistic-Inpainting
	url = https://github.com/yhu9/Pluralistic-Inpainting.git
[submodule "Image-Encryption-Chaos-Maps"]
	path = Image-Encryption-Chaos-Maps
	url = https://github.com/yhu9/Image-Encryption-Chaos-Maps.git
